.shuttle-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.form-group1 {
  color: #2d2d2d;
  font-size: 0.9rem;
}

input,
select {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.95rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #555;
  color: white;
}

.btn:hover {
  background-color: #333;
}

.shuttle-message {
  color: #2d2d2d;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: bold;
}
.shuttle-notif {
  color: #2d2d2d;
  font-size: 0.9rem;
  margin-top: 3rem;
}
.shuttle-notif1 {
  color: red;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.shuttle-notif2 {
  color: green;
  font-size: 0.9rem;
  margin-top: 1rem;
}
